html, body {
height: 100%;
min-height: 100%;

}

body {
  background-image: url("./My_dogs/paws_bones.png");
  background-size: cover;

}


/*h1, h2 {
  background-color: black;
}*/

#base {
 text-align: center

}


#base h1, h2 {
  color: magenta ;
  opacity: .80;
  background-color: black;
  

}

body #base p#p1 {
  max-width: 50%;
  color: magenta; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  opacity: .80;
  background-color: black;
  
  
 

}


#myzoepic {
   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  }


